dist: trusty
sudo: required

language: python

python:
  - "2.7"

before_install:
 - sudo apt-add-repository -y ppa:fixnix/indicator-systemtray-unity
 - sudo apt-get update
 - sudo apt-get install -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" indicator-systemtray-unity
 - pip install --pre wxPython

# Commands to install dependencies:
install:
- pip install -r requirements.txt
- pip install -r requirements-linux.txt
- pip install codecov

# Start xvfb (X Virtual Framebuffer) to imitate a display:
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

# Command to run tests
script: python setup.py nosetests

after_success:
  - codecov -X gcov
