dist: bionic
sudo: required
services:
  - xvfb

language: python

python:
  - "3.7"

before_install:
 - sudo apt-add-repository -y ppa:fixnix/indicator-systemtray-unity
 - sudo apt-get update
 - sudo apt-get install -y --allow-unauthenticated -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" indicator-systemtray-unity libsdl1.2debian
 - pip install -f https://extras.wxpython.org/wxPython4/extras/linux/gtk2/ubuntu-18.04/ --only-binary wxPython wxPython==4.0.7.post2

# Commands to install dependencies:
install:
- pip install -r requirements.txt
- pip install -r requirements-linux.txt
- pip install codecov

# Command to run tests
script: pytest --cov=mydata

after_success:
  - codecov -X gcov
