appdirs==1.4.4
configparser==4.0.2
distro==1.5.0
netifaces==0.10.9
requests==2.24.0
psutil==5.7.2
requests-toolbelt==0.9.1
requests-mock==1.8.0
validate_email==1.3
wxPython==4.1.0
mock==4.0.2
nose==1.3.7
pytest-cov==2.10.0
pytest==6.0.1
coverage==5.2.1
paramiko==2.7.1
pytz==2019.3
lxml==4.5.2
python-dateutil==2.8.1
PyInstaller==3.6
