# This requirements list is not intended to be used for an automatic install 
# (e.g. "pip install -r requirements.txt").  Using an automatic method like
# "pip install -r requirements.txt" on Windows would attempt to build some
# packages from source which can be more easily installed using binary
# setup wizards on Windows.

# On Windows, I tend to use a 32-bit Python and wxPython, but there's no reason
# why MyData can't be built with 64-bit Python and wxPython.

https://www.python.org/ftp/python/2.7.9/python-2.7.9.msi

# Either wxPython 2.9 or 3.0 should work with MyData.  I currently use 3.0:

http://downloads.sourceforge.net/wxpython/wxPython3.0-win32-3.0.2.0-py27.exe

# For Python package dependencies I use a combination of
# "pip install <package>", manual download of .tar.gz from PyPi followed by
# "python setup.py install" and download of ".exe" binary setup wizards
# (from PyPi unless specified otherwise).

http://sourceforge.net/projects/pywin32/files/pywin32/
https://pypi.python.org/pypi/appdirs/
https://pypi.python.org/pypi/lxml/
https://pypi.python.org/pypi/poster/
https://pypi.python.org/pypi/psutil/
https://pypi.python.org/pypi/requests/
https://pypi.python.org/pypi/validate_email/

# If you want to build a local copy of the HTML docs, rather than just having
# readthedocs.org do it automatically:
https://pypi.python.org/pypi/Sphinx
