{
  "count": 0,
  "config_dir": "build/.pyupdater",
  "sync_threshold": 3,
  "app_config": {
    "UPDATE_PATCHES": true,
    "COMPANY_NAME": "Monash University",
    "APP_NAME": "MyData",
    "DATA_DIR": "build",
    "MAX_DOWNLOAD_RETRIES": 3,
    "UPDATE_URLS": [
      "http://update.url.example.com"
    ],
    "CLIENT_CONFIG_PATH": [
      "client_config.py"
    ],
    "PLUGIN_CONFIGS": {}
  },
  "filename": "build/.pyupdater/config.pyu"
}
