[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=MyData
Exec=/opt/mydata/MyData.sh
Icon=/opt/mydata/bin/media/MyData.ico
Categories=Utility;Archiving;
